article {
    text-align: left;
}

#description {
    background-color: antiquewhite;
    padding: 5px;
    margin: 20px 0;
}

section {
    display: flex;  
    margin: 10px;
    justify-content: left;    
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}

section a {
    margin: 0 20px 0 0;
}

#content {
    background-color: antiquewhite;
}